<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
  <add name="connstr" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=\\dfs01\EuPD-Research\10_Temporaer\Gang_He\Share\Projects\DB\School.mdf;Integrated Security=True;Connect Timeout=30"/>
  </connectionStrings>
</configuration>